.song-preview {
    width: 100%;
    height: 80%;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 11px;

      body {
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);
      }
    }

    .details {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
        
        h4 {
            width: 10%;
        }
    
    
        hr {
            width: 90%;
            height: 0px;
        }
    }

    .songs {
        display: flex;
        overflow-x: scroll;
    }

    .songs::-webkit-scrollbar {
        width: 11px;
      }
      body {
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);
      }
}

@media all and (max-width: 480px) {
  .song-preview {
    margin: auto;
    width: 97%;

    .details {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 65px;
      
      h4 {
          width: 300px;
      }
  
  
      hr {
          width: 200px;
          height: 0px;
      }
    }
  }
  
}

